body {
    background-color: aqua;
    font-family: 'Roboto', sans-serif;
}

.input-container {
    position: relative;
    margin-top: 20px;
    width: 100%;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: rgb(215, 215, 215);
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

input:focus {
    border-color: #ab4493;
}

label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #999;
    transition: all 0.25s ease;
    pointer-events: none;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -20px; /* Mueve el label hacia arriba */
    left: 15px; /* Mantiene la posición horizontal */
    font-size: 10px;
    color: #ff0000;
}

button {
    padding: 10px;
    text-transform: uppercase;
    background-color: #6844ab;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #61094c;
}

button:active {
    transform: scale(0.98);
}

p {
    margin: 10px 0;
}

/* Fuegos artificiales */
.particula {
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    position: absolute;
}

.particula[data-padre="false"] {
    width: 5px;
    height: 5px;
}

body, html {
    overflow-y: hidden;
    overflow-x: hidden;
}

#fondo {
    position: absolute;
    bottom: -100px;
    opacity: .4;
}