@font-face {
    font-family: Montserrat;
    src: url(../resources/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.contenedor{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

header{
    background: #02236D;
    width: 100%;
    line-height: 10px;
    padding: 25px;
    margin-bottom: 3%;
    font-family: Montserrat,Arial,sans-serif;
    color: #c4c1c1;
}

.link{
    text-decoration: none;
    font-family: Montserrat;

}
.linkk {
    text-decoration: none;
    color: white;
}
.linkk:hover{
    text-decoration: underline;
    color: #888888;
}

li{
    list-style: none;
    margin: 10px;
}

.club{
    margin-left: 2%;
}

.seguinos{
    display: flex; 
    justify-content: center; 
    align-items: center;
    
}

.linea{
    padding-left: 25px;
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}
.lineaPrincipal{
    margin-left: 25px;
    border: 1px solid #ffffff; 
    width: 96%; 
    margin-top: 57px;

}
.lineahr{
    padding-left: 25px;
    border: 1px solid #ffffff; 
    width: 95%; 
    margin-top: 30px;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0%;
    margin-top: 20px;
    background: #02236D;
    height: 200px;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
}

footer li{
    display: inline; /*Hace que la lista se hubique de forma horizontal y no vertical*/
    line-height: 26px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: white;
}

footer ul.copyright{
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

footer li.copyright{
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    margin-left: 5%;
    padding-left: 5%;
}

footer li.desarrollado{
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    padding-right: 5%;
}
